[mediacloud]
key = KEY

[spreadsheet]
url = URL
worksheet = Death Detail
query_adjustement_worksheet = Story Counts & Query Adjustmentss

[queue]
broker_url = redis://localhost:6379/0
backend_url = redis://localhost:6379/1

[cache]
redis_db_number = 10

[db]
host = 127.0.0.1
port = 27017
database_name = mpv
